[submodule "ANE/VolumeController/SE-ANE-iOS-VolumeController"]
	path = ANE/VolumeController/SE-ANE-iOS-VolumeController
	url = git@github.com:thanhphamvan/SE-ANE-iOS-VolumeController.git
[submodule "ANE/VolumeController/SE-ANE-Android-VolumeController"]
	path = ANE/VolumeController/SE-ANE-Android-VolumeController
	url = https://github.com/NganNTK/SE-ANE-Android-VolumeController.git
[submodule "ANE/VolumeController/SE-ANE-ActionScript-VolumeController"]
	path = ANE/VolumeController/SE-ANE-ActionScript-VolumeController
	url = https://github.com/LaNguyen201/SE-ANE-ActionScript-VolumeController.git
